<ol class="breadcrumb-ordered-list breadcrumb no-padding">
    {{#each breadcrumbs}}
        <li class="breadcrumb-item">
            {{#if @last}}
                {{this.name}}
            {{else}}
                <a href="{{this._links.self.href}}" data-toggle='tooltip' title="{{this.name}}">{{this.name}}</a>
            {{/if}}
        </li>
    {{/each}}
</ol>
