{{#partial "content"}}
  <div class="container" role="main">
    <div class="row">
      <div class="col-xs-12">

        <div class="panel panel-success">
          <div class="panel-heading">
            Available entity types for
            <a href="{{_links.domain.href}}">{{_links.domain.title}}</a>
            :
          </div>

          <div class="panel-body">
            {{#each _embedded.entities}}
              <div class="row">
                <div class="col-xs-12">
                    <a href="{{_links.self.href}}"><span class="glyphicon glyphicon-info-sign"></span></a>

                    {{#if _links.instances}}
                      <a href="{{_links.instances.href}}"
                        title="{{_links.instances.title}}"
                        ><span class="glyphicon glyphicon-list"></span></a>
                    {{/if}}

                    {{#if _links.studio}}
                      <a href="{{_links.studio.href}}"
                          title="{{_links.studio.title}}"
                          ><span class="glyphicon glyphicon-pencil"></span></a>
                    {{/if}}
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{_links.label.href}}" title="{{_links.label.title}}">{{type}}</a>
                    {{#if isDefault}}<span title="Default Entity Type">*</span>{{/if}}
                </div>
              </div>
            {{/each}}

          </div>
        </div>

      </div>
    </div>

  </div>
{{/partial}}

{{> page-content}}
