<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{{baseUrl}}/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{baseUrl}}/libs/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{baseUrl}}/libs/bootstrap/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{baseUrl}}/libs/bootstrap/theme.css" rel="stylesheet">

    <!-- HeadStart specific styles -->
    <link href="{{baseUrl}}/stylesheets/style.css" rel="stylesheet">
</head>

<body>


<!--
     Modal for selection of target associations
  -->
<div class="container">
    <div class="modal fade" id="selectEntityM" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="selectEntityM_titleH" class="modal-title">Select Entity</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel panel-default panel-table">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default entity-search" type="button" id="selectEntityM_searchButton">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default dropdown-toggle entity-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Search <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" id="selectEntityM_searchOptions">
                                                    </ul>
                                                </div>
                                                <input type="text" class="form-control entity-search" id="selectEntityM_searchInput">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-list" id="selectEntityM_table">
                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col col-xs-7">
                                            <ul class="pagination hidden-xs" id="selectEntityM_pagination">
                                            </ul>
                                        </div>
                                        <div class="col col-xs-5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="form-horizontal" id="entityBasicsF">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Selection:</label>
                        <div class="col-sm-8">
                            <ul class="nav nav-pills" id="selectEntityM_selectionUL">
                            </ul>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" id="selectEntityM_selectB" class="btn btn-default" data-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
     NavBar
  -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{_links.w2WarpJSHome.href}}">WarpJS</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="monAppHome"><a href="{{_links.w2WarpJSDomain.href}}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="{{baseUrl}}/"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="NavButtonSaveA"><span class="glyphicon glyphicon-ok"></span></a></li>
            <li><a href="#" id="NavButtonCancelA"><span class="glyphicon glyphicon-remove"></span></a></li>
            <li><a href="#" id="NavButtonDeleteA"><span class="glyphicon glyphicon-trash"></span></a></li>
        </ul>
    </div>
</nav>

<!--
          Generic Modal
-->
<div class='container'>
    <div class='modal fade' id='genericModalM' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>&times;</button>
                    <h4 class='modal-title' id="genericModalTitleH">
                    </h4>
                </div>
                <div class='modal-body'>
                    <div class='alert alert-info' id="genericModalMessageD">
                    </div>
                </div>
                <div class='modal-footer' id='genericModalButtonsD'>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{baseUrl}}/libs/bootstrap/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{baseUrl}}/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{baseUrl}}/libs/bootstrap/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{baseUrl}}/libs/bootstrap/ie10-viewport-bug-workaround.js"></script>
<script src="{{baseUrl}}/assets/tinymce.min.js"></script>
<script src="{{baseUrl}}/libs/customLinksModal.js"></script>

<!--
     Body goes here (via Handlebars)
  -->
{{{body}}}

</body>
</html>

