<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{{baseUrl}}/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{baseUrl}}/libs/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{baseUrl}}/libs/bootstrap/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{baseUrl}}/libs/bootstrap/theme.css" rel="stylesheet">

    <!-- HeadStart specific styles -->
    <link href="{{baseUrl}}/stylesheets/style.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="modal fade" id="content-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button id="content-editor-save" type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
     Modal for selection of target associations
  -->
<div class="container">
    <div class="modal fade" id="associationEditorM" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="selectEntityM_titleH" class="modal-title">Select Entities</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <form class="form-inline">
                                        Select type:
                                        <div class="form-group">
                                            <select class="form-control" id="WarpJS_assocSelectionModal_selectFromType">
                                            </select>
                                        </div>
                                    </form>
                                </li>
                                <li class="list-group-item" id="WarpJS_assocSelectionModal_selectFromTable">Select Table</li>
                                <li class="list-group-item" id="WarpJS_assocSelectionModal_selectionList">Selection List</li>
                                <li class="list-group-item" id="WarpJS_assocSelectionModal_selectionDetails">Selection Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="selectEntityM_closeB" class="btn btn-default">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
     NavBar
  -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-left"></a>
            <a class="navbar-brand" href="{{_links.w2WarpJSHome.href}}" id="warpjsNavbarName">
                <!--
                <img style="max-width:100px; margin-top: -7px;" src="/iic_images/IIC-logo-4.png">
                -->
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li id="monAppHome"><a href="{{_links.w2WarpJSDomain.href}}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="{{baseUrl}}/"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="NavButtonSaveA"><span class="glyphicon glyphicon-ok"></span></a></li>
            <li><a href="#" id="NavButtonCancelA"><span class="glyphicon glyphicon-remove"></span></a></li>
            <li><a href="#" id="NavButtonDeleteA"><span class="glyphicon glyphicon-trash"></span></a></li>
        </ul>
    </div>
</nav>

<!--
          Generic Modal
-->
<div class='container'>
    <div class='modal fade' id='genericModalM' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>&times;</button>
                    <h4 class='modal-title' id="genericModalTitleH">
                    </h4>
                </div>
                <div class='modal-body'>
                    <div class='alert alert-info' id="genericModalMessageD">
                    </div>
                </div>
                <div class='modal-footer' id='genericModalButtonsD'>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{baseUrl}}/libs/bootstrap/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{baseUrl}}/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{baseUrl}}/libs/bootstrap/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{baseUrl}}/libs/bootstrap/ie10-viewport-bug-workaround.js"></script>
<script src="{{baseUrl}}/assets/tinymce.min.js"></script>
<script src="{{baseUrl}}/libs/custom-links-modal.js"></script>

<!--
     Body goes here (via Handlebars)
  -->
{{{body}}}

<div id="WarpJS_DOM_anchor_for_modals"></div>

</body>
</html>

