<div class="warpjs-relationship-panel-item warpjs-relationship-style-{{section.style}} warpjs-relationship-id-{{section.id}}">
  {{#if section.isOfStyle.CSV}}
    <div class="col-xs-12 col-sm-3 warpjs-label">{{section.label}}</div>
    <div class="col-xs-11 col-xs-offset-1 col-sm-9 col-sm-offset-0 warpjs-value">
      {{> ./csv/template items=section._embedded.items}}
    </div>
  {{else if section.isOfStyle.CSV_Columns}}
    <div class="col-xs-12 col-sm-3 warpjs-label">{{section.label}}</div>
    <div class="col-xs-11 col-xs-offset-1 col-sm-9 col-sm-offset-0 warpjs-value">
      {{> ./csv-columns/template items=section._embedded.items}}
    </div>
  {{else if section.isOfStyle.Tile}}
    <div class="col-xs-12 warpjs-value">
      {{> ./tile/template items=section._embedded.items}}
    </div>
  {{else if section.isOfStyle.Basic_Tile}}
    {{> ./basic-tile/template items=section._embedded.items}}
  {{else if section.isOfStyle.Preview}}
    <div class="col-xs-12 warpjs-value">
      {{> ./preview/template items=section._embedded.items}}
    </div>
  {{else if section.isOfStyle.Document}}
    <div class="col-xs-12 warpjs-value">
      {{#each section._embedded.items as |item|}}
        {{> ../page-view-panel-section page=../page section=item}}
      {{/each}}
    </div>
  {{else if section.isOfStyle.Vocabulary}}
    <div class="col-xs-12 warpjs-value">
      {{> ./vocabulary/template items=section._embedded.items}}
    </div>
  {{else}}
    <div class="col-xs-12">TODO: Implement relationship style {{section.style}}</div>
  {{/if}}
</div>
