{{#if isRootInstance}}
    <li class="breadcrumb-item"><a href="href">{{type}}</a></li>
{{else if isAddNewEntity}}
    <li class="breadcrumb-item">Create new {{type}}</li>
{{else}}
    {{#each items}}
        <li class="breadcrumb-item">
            <a href="{{_links.self.href}}"
                data-toggle="tooltip"
                title="{{type}}"
                >{{shortHand}}</a>
        </li>
    {{/each}}
{{/if}}
