<span class="clickable glyphicon glyphicon-chevron-{{direction}} pagination-{{direction}}"
    data-page-limit="{{pageLimit}}"
    data-page-direction="{{direction}}"
    data-action="{{action}}"
    data-url="{{url}}"
    ></span>
