<div class="row warpjs-document-status-container"
  data-warpjs-document-status-value="{{status.documentStatus}}"
  data-warpjs-document-status-is-public="{{status.isPublic}}"
  data-warpjs-document-status-show-disclaimer="{{status.showDisclaimer}}"
  data-warpjs-document-status-is-visible="{{status.isVisible}}"
  >
  {{> left-right-margin}}

  <div class="col-xs-12 col-sm-10 warpjs-document-status-content">
    <div class="warpjs-table warpjs-document-status-Proposal">
      <div class="warpjs-cell warpjs-icon">
        <i class="glyphicon glyphicon-exclamation-sign fa-2x pull-left"></i>
      </div>
      <div class="warpjs-cell warpjs-content"
        data-warpjs-document-status-modal-title="PortalDocumentStatusProposalModalTitle"
        data-warpjs-document-status-modal-content="PortalDocumentStatusProposalModalContent"
        data-warpjs-document-status-open-modal="true"
        >
        <b>{{{customMessages.PortalDocumentStatusProposalText}}}</b>
      </div>
    </div>

    <div class="warpjs-table warpjs-document-status-IndividualContribution">
      <div class="warpjs-cell warpjs-icon">
        <i class="glyphicon glyphicon-exclamation-sign fa-2x pull-left"></i>
      </div>
      <div class="warpjs-cell warpjs-content"
        data-warpjs-document-status-modal-title="PortalDocumentStatusIndividualContributionModalTitle"
        data-warpjs-document-status-modal-content="PortalDocumentStatusIndividualContributionModalContent"
        data-warpjs-document-status-open-modal="true"
        >
        <b>{{{customMessages.PortalDocumentStatusIndividualContributionText}}}</b>
      </div>
    </div>

    <div class="warpjs-document-status-not-public">
      <b>{{{customMessages.PortalDocumentStatusNotPublic}}}</b>
    </div>

    <div class="warpjs-document-status-not-visible">
      <b>{{{customMessages.PortalDocumentStatusNotVisible}}}</b>
    </div>
  </div>

  {{> left-right-margin}}
</div>
