<ol class="breadcrumb">
  {{#if isRootInstance}}
    <li class="breadcrumb-item"><a href="{{_links.self.href}}">{{type}}</a></li>
  {{else}}
    {{#each breadcrumbs}}
      {{#if @last}}
        <li class="active">{{_links.self.title}}</li>
      {{else}}
        <li class="breadcrumb-item">
          <a href="{{_links.self.href}}" data-toggle="tooltip" title="{{type}}">{{_links.self.title}}</a>
        </li>
      {{/if}}
    {{/each}}
  {{/if}}
</ol>
