<ol id="WarpJS-breadcrumb" class="breadcrumb">
{{#if isRootInstance}}
    <li class="breadcrumb-item"><a href="{{_links.self.href}}">{{type}}</a></li>
{{else if isAddNewEntity}}
    <li class="breadcrumb-item">Create new {{type}}</li>
{{else}}
    {{#each breadcrumbs}}
        <li class="breadcrumb-item">
            <a href="{{_links.self.href}}" data-toggle="tooltip" title="{{type}}">{{_links.self.title}}</a>
        </li>
    {{/each}}
{{/if}}
</ol>
