<div id="WarpJS_mainPV_panel" class="panel panel-success">
  <div class="panel-heading">
    {{type}}: {{displayName}}

    <span class="pull-right">
      <span class="glyphicon glyphicon-time"
        data-toggle="popover"
        data-warpjs-action="change-logs"
        title="Change logs"
        ></span>
      &nbsp;
      <span class="glyphicon glyphicon-eye-open"
        data-toggle="tooltip"
        data-warpjs-action="preview"
        data-warpjs-url="{{_links.preview.href}}"
        title="Preview document"
        ></span>
      &nbsp;
      <span class="glyphicon glyphicon-trash"
        data-toggle="tooltip"
        data-warpjs-action="delete"
        data-warpjs-url="{{_links.self.href}}"
        title="Remove document"
        ></span>

      {{#unless isRootInstance}}
      &nbsp;
      <span class="glyphicon glyphicon-share"
          data-toggle="tooltip"
          data-warpjs-action="add-sibling"
          data-warpjs-url="{{_links.sibling.href}}"
          title="Add sibling"
          ></span>
      {{/unless}}
  </div>

  <div class="panel-body">
      {{> panel-body formResource canEdit=canEdit}}
  </div>
</div>
