<form class="form-horizontal">
    {{#if (isSeparator)}}
        {{> separator-panel-item}}
    {{else if (isBasicProperty)}}
        {{> basic-property-panel-item}}
    {{else if (isEnumPanelItem)}}
        {{> enum-panel-item}}
    {{else if (isRelationshipPanelItem)}}
        {{> relationship-panel-item}}
    {{else}}
        ***
        TODO
        ---
        name:{{name}}
        ---
        label:{{label}}
        ---
        type:{{type}} / {{style}}
        ***
    {{/if}}

</form>
