<div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        </div>

                        <div class="input-group-addon">
                            {{relationship.pageStart}} / {{relationship.totalSize}}
                        </div>

                        <select class="form-control">
                            <option value="">Showing matches from {{relationship.pageStart}} to {{relationship.pageEnd}}</option>
                            <option value="">---------------------</option>
                            {{#each relationship.model.data as |data|}}
                                <option {{#unless @index}}selected{{/unless}}>
                                    {{data.label}}
                                </option>
                            {{/each}}
                        </select>

                        <div class="input-group-addon">
                            <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>

                        <div class="input-group-addon">
                            <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </div>

                        <div class="input-group-addon">
                            <a href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-body">
            {{#each relationship.model.data}}
                {{> panel-body}}
            {{/each}}
        </div>
    </div>

    <div class="alert alert-info">
        Click here to add new element to '{{label}}':
    </div>

    <div class="alert alert-warning">
        Save new element first before adding to '{{label}}'!
    </div>

</div>
