<div class="relationship-panel-item" data-relationship-model="{{relationship.model.name}}">
{{#if (isCsvRelationship)}}
    {{> relationship-panel-item-csv}}
{{else if (isTableRelationshipPanelItem)}}
    {{> relationship-panel-item-table}}
{{else if (isCarouselRelationshipPanelItem)}}
    {{> relationship-panel-item-carousel}}
{{else if (isPreviewRelationship)}}
    TODO: How to do Preview Relationship?
{{else}}
    TODO: Unknown relationship-panel-item style '{{style}}'.
{{/if}}
</div>
