{{#if _embedded.overviews.length}}
  <div class="panel-item panel panel-default">
    <div class="panel-item-heading panel-heading">Overview</div>
    <div class="panel-item-body panel-body">
      {{#each _embedded.overviews}}
        <div class="panel-item-body-item">
          {{#if Heading}}
            <div class="row">
              <div class="col-xs-12">
                <div class="panel-item-body-heading">{{Heading}}</div>
              </div>
            </div>
          {{/if}}

          {{#if _embedded.Images.length}}
            <div class="overview-image-container row">
              <div class="col-xs-12 text-center">
                {{#each _embedded.Images}}
                  <figure class="figure-container">
                    <img class="margin-right"
                        {{#if ImageURL}}src="{{ImageURL}}"{{/if}}
                        {{#if Width}}width="{{Width}}"{{/if}}
                        {{#if Height}}height="{{Height}}"{{/if}}
                        {{#if AltText}}alt="{{AltText}}"{{/if}}
                        {{#if _embedded.Maps}}usemap="#overview-map-{{@index}}"{{/if}}
                        />
                    {{#if Caption}}<figcaption class="figure-caption">{{Caption}}</figcaption>{{/if}}
                    {{#if _embedded.Maps}}
                      <map name="overview-map-{{@index}}">
                        {{#each _embedded.Maps}}
                          <area class="map-hover-area"
                              {{#if _links.preview.href}}
                                  data-warpjs-action="preview"
                                  data-warpjs-preview-url="{{_links.preview.href}}"
                              {{/if}}
                              {{#if Shape}}shape="{{Shape}}"{{/if}}
                              {{#if Coords}}coords="{{Coords}}"{{/if}}
                              {{#if _links.target.href}}href="{{_links.target.href}}"{{/if}}
                              {{#if Alt}}alt="{{Alt}}"{{/if}}
                              {{#if Title}}data-preview-title="{{Title}}"{{/if}}
                              {{#if _embedded.Targets.[0]}}
                                  data-target-href="{{_embedded.Targets.[0]._links.preview.href}}"
                              {{/if}}
                              />
                        {{/each}}
                      </map>
                    {{/if}}
                  </figure>
                {{/each}}
              </div>
            </div>
          {{/if}}

          {{#if Content}}
              <div class="overview-content-container row">
                  <div class="col-xs-12 overview-content">{{{Content}}}</div>
              </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
