{{#if entity._embedded.relationships.0._embedded.references.length}}
  {{#if isTileStyle}}
    <div class="row warpjs-tile-container">
      {{#each entity._embedded.relationships as |relationship|}}
        {{#each relationship._embedded.references as |reference|}}
          <div class="col-xs-3 warpjs-tile-item">
            <div class="warpjs-tile-item-content">
              <a href="{{reference._links.self.href}}">{{reference.name}}</a>
            </div>
          </div>
        {{/each}}
      {{/each}}
    </div>

  {{else if (isCsvRelationship)}}
    <div class="csv-container">
        <li class="csv-list-item">
            <span class="list-item-label" title="{{entity.desc}}">{{entity.label}}:</span>&nbsp;
            <span class="list-item-value">
                {{#each entity._embedded.relationships as |relationship|}}
                    {{#each relationship._embedded.references as |reference|}}
                        {{> ./_csv reference}}
                    {{/each}}
                {{/each}}
            </span>
        </li>
    </div>
  {{else if (isPreviewRelationship)}}
    {{#each entity._embedded.relationships}}
        {{#each this._embedded.references}}
                {{#if this._embedded}}
                    {{#each this._embedded.overviews}}
                        {{> ./_preview this self=../_links.self name=../name}}
                    {{/each}}
                {{else}}
                    {{> ./_preview this Heading=this.name Content=this.desc self=_links.self}}
                {{/if}}
        {{/each}}
    {{/each}}
  {{/if}}
{{/if}}
