<form class="form">
  <div class="form-group">
    <label for="warpjs-inline-edit-selected-document-detail">Description for selection '{{name}}':</label>
    <textarea class="form-control" id="warpjs-inline-edit-selected-document-detail"
        data-warpjs-type="{{type}}"
        data-warpjs-id="{{id}}"
        data-warpjs-name="{{name}}"
      >{{description}}</textarea>
  </div>
</form>

<button type="button" class="btn btn-danger"
    data-warpjs-type="{{type}}"
    data-warpjs-id="{{id}}"
    data-warpjs-name="{{name}}"
  >Remove from Selection</button>
