{{#each items as |item|}}
  <div class="col-xs-6 col-sm-4 warpjs-value-item-container warpjs-relationship-panel-item-tile warpjs-relationship-panel-item-id-{{item.id}}">
    <div class="warpjs-value-item">
      <div class="warpjs-container">
        {{#if item._links.image}}
          <div class="warpjs-image">
            <img src="{{item._links.image.href}}" />
          </div>
        {{/if}}

        <div class="warpjs-body">
          <div class="warpjs-label">{{item.typeLabel}}</div>
          <div class="warpjs-title">{{item.name}}</div>

          {{#unless item._links.image}}
            <div class="warpjs-content">{{{item.description}}}</div>
          {{/unless}}

          {{> ../../see-more title=item.name href=item._links.self.href remoteMoreLink=item._links.remoteMoreLink.href}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
