{{#if section.showItem}}
  <div class="row warpjs-panel-section warpjs-panel-section-{{section.type}}">
    {{#if section.documentStyle}}
      {{> paragraph paragraph=section}}
    {{else if section.isOfType.SeparatorPanelItem}}
      <div class="col-xs-12">
        <hr />
      </div>
    {{else if section.isOfType.BasicPropertyPanelItem}}
      <div class="col-xs-12 col-sm-3 warpjs-label">{{section.label}}</div>
      <div class="col-xs-11 col-xs-offset-1 col-sm-9 warpjs-value">{{section.value}}</div>
    {{else if section.isOfType.EnumPanelItem}}
      <div class="col-xs-12 col-sm-3 warpjs-label">{{section.label}}</div>
      <div class="col-xs-11 col-xs-offset-1 col-sm-9 warpjs-value">{{section.value}}</div>
    {{else if section.isOfType.RelationshipPanelItem}}
      {{> relationship-panel-items section=section}}
    {{else}}
      <div class="col-xs-12">TODO: Implement panel-section for {{section.type}}</div>
    {{/if}}
  </div>
{{/if}}

