{{#each panels as |panel|}}
  {{#if panel.showPanel}}
    <div class="row warpjs-page-view-side-panel warpjs-page-view-badges">
      <div class="warpjs-title">{{panel.label}}</div>
      <div class="warpjs-content">
        {{#each panel._embedded.items as |badge|}}
          <div class="col-xs-12 col-md-6 warpjs-item">
            {{#if badge._links.image.href}}
              <div class="warpjs-image-container-parent">
                <div class="warpjs-image-container-child">
                  <img src="{{badge._links.image.href}}"
                    alt="{{badge.label}}"
                    title="{{badge.description}}"
                    />
                </div>
              </div>
            {{else}}
              <div>[MISSING IMAGE FOR "{{badge.label}}"]</div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/each}}
