<div class="warpjs-panel warpjs-show-item-{{panel.showPanel}} warpjs-visibleInEditOnly-{{panel.visibleInEditOnly}}">
  <div class="panel panel-default warpjs-panel-style-{{panel.style}}">
    {{#if panel.labelLength}}
      <div class="panel-heading warpjs-is-overview-panel-{{panel.isOverviewPanel}}">
        <div class="panel-title">{{panel.label}}</div>
      </div>
    {{/if}}

    <div class="panel-body">
      {{> ../table-of-contents/template panel=panel}}
      {{#each panel._embedded.items as |section|}}
        {{> page-view-panel-section page=../page section=section reference=../reference panel=../panel}}
      {{/each}}
    </div>
  </div>
</div>
