{{#if section.showItem}}
  <div class="row warpjs-panel-section">
    {{#if section.documentStyle}}
      {{> page-view-panel-section-document section=section}}
    {{else if section.isOfType.SeparatorPanelItem}}
      <hr />
    {{else if section.isOfType.BasicPropertyPanelItem}}
      <div class="col-xs-3 warpjs-label">{{section.label}}:</div>
      <div class="col-xs-9 warpjs-value">{{section.value}}</div>
    {{else if section.isOfType.EnumPanelItem}}
      <div class="col-xs-3 warpjs-label">{{section.label}}:</div>
      <div class="col-xs-9 warpjs-value">{{section.value}}</div>
    {{else if section.isOfType.RelationshipPanelItem}}
      {{> relationship-panel-items section=section}}
    {{else}}
      <div class="col-xs-12">TODO: Implement panel-section for {{section.type}}</div>
    {{/if}}
  </div>
{{/if}}

