<div class="warpjs-page-view-summary">
  <div class="hidden-xs hidden-sm">
    <div class="warpjs-table">
      <div class="col-xs-4 warpjs-section-header warpjs-cell warpjs-summary-results">
        {{summary.[0].title}}
      </div>
      <div class="col-xs-4 warpjs-section-header warpjs-cell">
        {{summary.[1].title}}
      </div>
      <div class="col-xs-4 warpjs-section-header warpjs-cell">
        {{summary.[2].title}}
      </div>
    </div>

    <div class="warpjs-table">
      <div class="col-xs-4 warpjs-hi-primary warpjs-section-content warpjs-summary-results warpjs-cell">
        {{{summary.[0].content}}}
        {{> ../inline-edit/context-button page=page elementId=summary.[0].id elementType='Paragraph'}}
      </div>

      <div class="col-xs-4 warpjs-hi-secondary warpjs-section-content warpjs-cell">
        {{{summary.[1].content}}}
        {{> ../inline-edit/context-button page=page elementId=summary.[1].id elementType='Paragraph'}}
      </div>
      <div class="col-xs-4 warpjs-hi-secondary warpjs-section-content warpjs-cell">
        {{{summary.[2].content}}}
        {{> ../inline-edit/context-button page=page elementId=summary.[2].id elementType='Paragraph'}}
      </div>
    </div>
  </div>
  <div class="hidden-md hidden-lg">
    <div class="col-xs-12 warpjs-section-header warpjs-summary-results">
      {{summary.[0].title}}
    </div>
    <div class="col-xs-12 warpjs-hi-primary warpjs-section-content warpjs-summary-results">
      {{{summary.[0].content}}}
      {{> ../inline-edit/context-button page=page elementId=summary.[0].id elementType='Paragraph'}}
    </div>

    <div class="col-xs-12 warpjs-section-header">
      {{summary.[1].title}}
    </div>
    <div class="col-xs-12 warpjs-hi-secondary warpjs-section-content">
      {{{summary.[1].content}}}
      {{> ../inline-edit/context-button page=page elementId=summary.[0].id elementType='Paragraph'}}
    </div>

    <div class="col-xs-12 warpjs-section-header">
      {{summary.[2].title}}
    </div>
    <div class="col-xs-12 warpjs-hi-secondary warpjs-section-content">
      {{{summary.[2].content}}}
      {{> ../inline-edit/context-button page=page elementId=summary.[0].id elementType='Paragraph'}}
    </div>
  </div>
</div>
