{{#if panels.length}}
  {{#each panels as |panel|}}
    <div class="warpjs-secondary-bg warpjs-page-view-side-panel warpjs-page-view-sidebar">
      <div class="col-xs-12 warpjs-page-view-sidebar-body">
        {{#each panel._embedded.items as |section|}}
          {{#if section.isOfType.SeparatorPanelItem}}
            <hr class="warpjs-show-item-{{section.showItem}} warpjs-panel-section-{{section.type}}" />
          {{else}}
            <div class="warpjs-page-view-side-section warpjs-visibleInEditOnly-{{section.visibleInEditOnly}} warpjs-show-item-{{section.showItem}} warpjs-panel-section-{{section.type}}">
              <div class="row warpjs-title">
                <div class="col-xs-12">{{section.label}}</div>
              </div>
              <div class="row warpjs-content">
                <div class="col-xs-12">
                  {{#if section.isOfType.RelationshipPanelItem}}
                    {{> ./panel-items/csv/template items=section._embedded.items}}
                  {{else if section.isOfType.BasicPropertyPanelItem}}
                    {{#if section.typeOfProperty.isText}}
                      {{{section.value}}}
                      {{> ../inline-edit/context-button page=../../page elementId=section.id elementType='BasicProperty'}}
                    {{else}}
                      {{section.value}}
                    {{/if}}
                  {{else if section.isOfType.EnumPanelItem}}
                    {{section.value}}
                  {{/if}}
                </div>
              </div>
              {{#if section.isAssociation}}
                {{> ../inline-edit/context-button page=../../page elementId=section.id elementType='Relationship'}}
              {{/if}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
{{/if}}

