<span class="warpjs-section-item"
    data-warpjs-type="{{doc.type}}"
    data-warpjs-id="{{doc.id}}"
    data-warpjs-name="{{doc.name}}"
    data-warpjs-description="{{doc.description}}"
    >{{doc.name}}</span>
