<div class="row warpjs-modal-global-menu">
  <div class="warpjs-modal-title">EDIT</div>
  <div class="warpjs-modal-top-menu">
    <span class="dropdown">
      <span class="dropdown-toggle"
        id="warpjs-inline-edit-modal-language"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
        data-warpjs-action="inline-edit-language"
        ><span class="text">English</span> <span class="caret"></span></span>
      <ul class="dropdown-menu" aria-labelledby="warpjs-inline-edit-modal-language">
        <li data-warpjs-action="inline-edit-language-change">Chinese</li>
        <li data-warpjs-action="inline-edit-language-change">English</li>
        <li data-warpjs-action="inline-edit-language-change">German</li>
      </ul>
    </span>
    <span
      data-warpjs-action="inline-edit-delete"
      class="pagination-remove"
      data-warpjs-id="{{item.id}}"
      data-warpjs-reference-type="{{item.reference.type}}"
      data-warpjs-reference-id="{{item.reference.id}}"
      data-warpjs-reference-name="{{item.reference.name}}"
    >
      Delete
    </span>
    <span data-warpjs-action="inline-edit-history">History</span>
  </div>
</div>
<div class="row">
  <div class="warpjs-navigation-menu" data-warpjs-id="{{item.id}}">
    <div class="warpjs-navigation"
      data-warpjs-action="inline-edit-paragraph-move-to-first"
      >&lt;&lt;</div>
    <div class="warpjs-navigation"
      data-warpjs-action="inline-edit-paragraph-move-up"
      >&lt;</div>
    <div class="warpjs-navigation warpjs-navigation-position">Position {{item.position}}</div>
    <div class="warpjs-navigation"
      data-warpjs-action="inline-edit-paragraph-move-down"
      >&gt;</div>
    <div class="warpjs-navigation"
      data-warpjs-action="inline-edit-paragraph-move-to-last"
      >&gt;&gt;</div>
  </div>
</div>

<div class="row">
  <div class="warpjs-detail-heading">
    <div class="form-group">
      <label for="warpjs-inline-edit-heading">Heading</label>
      <textarea class="form-control" rows="3" id="warpjs-inline-edit-heading"
          data-warpjs-id="{{item.id}}"
          data-warpjs-field="Heading"
          data-warpjs-reference-type="{{item.reference.type}}"
          data-warpjs-reference-id="{{item.reference.id}}"
          data-warpjs-reference-name="{{item.reference.name}}"
          {{#unless item.canChangeName}}readonly{{/unless}}
        >{{item.name}}</textarea>
    </div>

    <div class="form-inline">
      <div class="form-group warpjs-inline-edit-level">
        <label for="warpjs-inline-edit-level">Level</label>
        <select class="form-control" id="warpjs-inline-edit-level"
            data-warpjs-id="{{item.id}}"
            data-warpjs-field="HeadingLevel"
            data-warpjs-reference-type="{{item.reference.type}}"
            data-warpjs-reference-id="{{item.reference.id}}"
            data-warpjs-reference-name="{{item.reference.name}}"
            {{#unless item.canChangeName}}readonly{{/unless}}
          >
          <option value="H1" {{#if item.isHeadingLevel.H1}}selected{{/if}}>H1</option>
          <option value="H2" {{#if item.isHeadingLevel.H2}}selected{{/if}}>H2</option>
          <option value="H3" {{#if item.isHeadingLevel.H3}}selected{{/if}}>H3</option>
          <option value="H4" {{#if item.isHeadingLevel.H4}}selected{{/if}}>H4</option>
          <option value="H5" {{#if item.isHeadingLevel.H5}}selected{{/if}}>H5</option>
          <option value="H6" {{#if item.isHeadingLevel.H6}}selected{{/if}}>H6</option>
        </select>
      </div>

      <div class="form-group warpjs-inline-edit-visibility">
        <label for="warpjs-inline-edit-visibility">Visibility</label>
        <select class="form-control" id="warpjs-inline-edit-visibility"
          value="{{item.position}}"
          data-warpjs-id="{{item.id}}"
          data-warpjs-field="Visibility"
          data-warpjs-reference-type="{{item.reference.type}}"
          data-warpjs-reference-id="{{item.reference.id}}"
          data-warpjs-reference-name="{{item.reference.name}}"
          {{#unless item.canChangeName}}readonly{{/unless}}
          >
          <option value="Web" {{#if item.isVisibility.Web}}selected{{/if}}>Web</option>
          <option value="PDF" {{#if item.isVisibility.PDF}}selected{{/if}}>PDF</option>
          <option value="WebAndPDF" {{#if item.isVisibility.WebAndPDF}}selected{{/if}}>Web &amp; PDF</option>
        </select>
      </div>
    </div>
  </div>

  <div class="warpjs-detail-image-preview">
    <div class="image-carousel-container">
      {{#if item.images.length}}
        <div id="warpjs-detail-image-carousel" class="carousel slide">
          <div class="carousel-inner">
            {{#each item.images as |image|}}
              <div class="carousel-item item {{#unless @index}}active{{/unless}}">
                <div style="background-image: url({{image._links.self.href}});" class="inline-editor-image"></div>
              </div>
            {{/each}}
          </div>
          <div class="carousel-controls">
            <a class="carousel-control left" href="#warpjs-detail-image-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#warpjs-detail-image-carousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 warpjs-detail-content">
    <div class="form-group">
      <label for="warpjs-inline-edit-content">Content</label>
      <textarea class="form-control" id="warpjs-inline-edit-content" rows="12"
          data-warpjs-id="{{item.id}}"
          data-warpjs-field="Content"
          data-warpjs-reference-type="{{item.reference.type}}"
          data-warpjs-reference-id="{{item.reference.id}}"
          data-warpjs-reference-name="{{item.reference.name}}"
          readonly
        >{{item.description}}</textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 warpjs-comments">
    <div class="warpjs-label">Comments</div>
  </div>
</div>
