{{#each items as |item|}}
  <div class="row warpjs-list-item">
    <div class="col-xs-10 warpjs-list-item-value"
      data-warpjs-type="{{item.type}}"
      data-warpjs-id="{{item.id}}"
      data-warpjs-position="{{item.position}}"
      data-warpjs-name="{{item.name}}"
      data-warpjs-description="{{item.description}}"
      data-warpjs-reference-type="{{item.reference.type}}"
      data-warpjs-reference-id="{{item.reference.id}}"
      data-warpjs-reference-name="{{item.reference.name}}"
      >{{item.name}}</div>
    <div class="col-xs-2 warpjs-list-item-status">
      <span class="warpjs-list-item-status-icon">&bull;</span>
    </div>
  </div>
{{/each}}
