<div class="row">
  <div class="col-xs-8 warpjs-detail-heading">
    <div class="form-group">
      <label for="warpjs-inline-edit-heading">Heading</label>
      <textarea class="form-control" rows="3" id="warpjs-inline-edit-heading"
          data-warpjs-id="{{item.id}}"
          data-warpjs-field="Heading"
          data-warpjs-reference-type="{{item.reference.type}}"
          data-warpjs-reference-id="{{item.reference.id}}"
          data-warpjs-reference-name="{{item.reference.name}}"
          {{#unless item.canChangeName}}readonly{{/unless}}
        >{{item.name}}</textarea>
    </div>
  </div>

  <div class="col-xs-4 warpjs-detail-image-preview">
    <div class="warpjs-label">Image preview</div>
    <div class="warpjs-content">BOX</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 warpjs-detail-content">
    <div class="form-group">
      <label for="warpjs-inline-edit-content">Content</label>
      <textarea class="form-control" id="warpjs-inline-edit-content" rows="12"
          data-warpjs-id="{{item.id}}"
          data-warpjs-field="Content"
          data-warpjs-reference-type="{{item.reference.type}}"
          data-warpjs-reference-id="{{item.reference.id}}"
          data-warpjs-reference-name="{{item.reference.name}}"
        >{{item.description}}</textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 warpjs-comments">
    <div class="warpjs-label">Comments</div>
  </div>
</div>
