<div>
  <p>i3c content is authored collaboratively by IIC members. Approval levels can
  be changed by all members, without additional authorization.</p>

  <p>All changes are logged in the content history. Please follow the guideline
  below before changing content status by using the “Status” field in the
  “Basics” folder.</p>

  <div class="panel panel-default">

    <div class="panel-body table-header">
      <div class="col-xs-2">
        <h3 class="panel-title">Status</h3>
      </div>

      <div class="col-xs-5">
        <h3 class="panel-title">Prerequisites</h3>
      </div>

      <div class="col-xs-5">
        <h3 class="panel-title">Portal Visibility (Public!)</h3>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-2">
        <span class="{{baseClass}} {{baseClass}}-Draft">Draft</span>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Initial status of new i3c content</li>
        </ul>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Not visible to the public</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-2">
        <span class="{{baseClass}} {{baseClass}}-Proposal">
               Proposal
              </span>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Content contributed by IIC members automatically comes via membership agreement</li>
          <li>In case content is contributed by non-members, licence must have been granted via Non-Member Acknowledgement</li>
          <li>All authors have been properly linked to the content</li>
        </ul>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Visible in the public part of the portal</li>
          <li>Content has an explicit legal disclaimer, marking the content as “proposal”</li>
          <li>No commenting by non-IIC members</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-2">
        <span class="{{baseClass}} {{baseClass}}-Approved">Approved</span>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Final list of content authors and contributors has been properly linked to content</li>
          <li>Content has been edited by IIC staff</li>
          <li>Content has been approved by vote or other appropriate means in the responsible TG/WG</li>
        </ul>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Visible in the public part of the portal</li>
          <li>Content has the standard IIC legal disclaimer</li>
          <li>No commenting by non-IIC members</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-2">
        <span class="{{baseClass}} {{baseClass}}-Declined">Declined</span>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Content has been rejected by the responsible authority</li>
        </ul>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Not visible to the public</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-2">
        <span class="{{baseClass}} {{baseClass}}-Retired">Retired</span>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Content is no longer relevant.</li>
        </ul>
      </div>

      <div class="col-xs-5">
        <ul>
          <li> Not visible to the public</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-2">
        <span class="{{baseClass}} {{baseClass}}-InheritFromParent">Inherited</span>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Content will inherit status from parent (see content hierarch in the breadcrumb above)</li>
        </ul>
      </div>

      <div class="col-xs-5">
        <ul>
          <li>Depending on parent's status</li>
        </ul>
      </div>
    </div>
  </div>
</div>
