{{#partial "content"}}
<div class="container" role="main" data-warpjs-status="instances">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          Available documents for
          <a href="{{_links.domain.href}}">{{_links.domain.title}}</a>
          /
          {{_links.type.title}}
          :
        </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-xs-2 col-md-1"></th>
              <th class="col-xs-4">Name</th>
              <th class="col-xs-1">Status</th>
              <th class="col-xs-5">Authors</th>
            </tr>
          </thead>
          <tbody>
            {{#each _embedded.entities}}
              <tr data-warpjs-url="{{_links.self.href}}">
                <td>
                  {{#if _links.portal}}
                    <a href="{{_links.portal.href}}"><span class="glyphicon glyphicon-eye-open" title="Preview '{{name}}' on portal"></span></a>
                  {{/if}}
                  <a href="{{_links.self.href}}"><span class="glyphicon glyphicon-pencil text-primary" title="Edit '{{name}}'"></span></a>
                  <span class="glyphicon glyphicon-trash text-danger" data-warpjs-action="delete" title="Delete '{{name}}'"></span>
                </td>

                <td>
                  <a href="{{_links.self.href}}">{{name}}</a>
                  {{#if isRootInstance}}[isRootInstance]{{/if}}
                </td>

                <td>
                  <span class="warpjs-document-status
                  warpjs-document-status-{{status}}">{{status}}</span>
                </td>

                <td class="warpjs-document-authors max-width-100 ellipsis">
                  <div>WIP: Here is a super long list of authors to test if the
                    ellipsis works.</div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{/partial}}

{{> page-content}}

