{{#partial "content"}}
<div class="container" role="main" data-warpjs-status="instances">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          Available documents for
          <a href="{{_links.domain.href}}">{{_links.domain.title}}</a>
          /
          {{_links.type.title}}
          :
        </div>

    <div class="panel-body">
      {{#each _embedded.entities}}
        <div class="row">
          <div class="col-xs-12" data-warpjs-url="{{_links.self.href}}">
            {{#if _links.portal}}
              <a href="{{_links.portal.href}}"><span class="glyphicon glyphicon-eye-open" title="Preview '{{name}}' on portal"></span></a>
            {{/if}}
            <a href="{{_links.self.href}}"><span class="glyphicon glyphicon-pencil text-primary" title="Edit '{{name}}'"></span></a>
            <span class="glyphicon glyphicon-trash" data-warpjs-action="delete" title="Delete '{{name}}'"></span>
            &nbsp;&nbsp;&nbsp;
            <a href="{{_links.self.href}}">{{name}}</a>
            {{#if isRootInstance}}[isRootInstance]{{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{/partial}}

{{> page-content}}

