<ol class="breadcrumb">
  {{#each _embedded.breadcrumbs as |breadcrumb|}}
    {{#if @last}}
      <li class="active">
        {{breadcrumb.name}}
        ({{breadcrumb.version}})
        {{#if displayType}}
          [<a href="{{breadcrumb._links.instances.href}}" title="{{breadcrumb._links.instances.title}}">{{displayType}}</a>]
        {{/if}}
      </li>
    {{else}}
      <li class="breadcrumb-item">
        <a href="{{breadcrumb._links.self.href}}" data-toggle="tooltip" title="{{type}}">
          {{breadcrumb.name}}
          ({{breadcrumb.version}})
        </a>
      </li>
    {{/if}}
  {{/each}}
</ol>
