<span
  class="glyphicon glyphicon-trash"
  data-toggle="popover"
  data-warpjs-action="{{action}}"
  data-warpjs-url="{{href}}"
  title="{{title}}"
  {{#unless canEdit}}disabled{{/unless}}
  ></span>

{{!--
<span
  class="glyphicon glyphicon-trash text-danger"
  data-warpjs-action="{{action}}"
  title="<span class='text-danger'><strong>{{title}}?</strong></span>"
  data-toggle="popover"
  data-html="true"
  data-placement="auto"
  data-content="<button class='btn btn-danger'>Confirm</button> <button class='btn btn-default'>Cancel</button>"
  ></span>
--}}
