<li class="warpjs-selected-item"
    data-warpjs-type="{{type}}"
    data-warpjs-id="{{id}}"
    data-warpjs-display-name="{{displayName}}"
    data-warpjs-url="{{_links.self.href}}"
    data-warpjs-relationship-description="{{relnDesc}}"
    data-warpjs-relationship-position="{{relnPosition}}"
    data-warpjs-doc-level="{{docLevel}}"
    >
  <a href="{{_links.self.href}}" title="{{relnDesc}}">{{displayName}} ({{version}})</a>
</li>
