<div class="col-xs-12 warpjs-page-view-side-section warpjs-show-item-{{#if users}}true{{else}}false{{/if}}">
  <div class="row warpjs-title">
    <div class="col-xs-12">{{title}}</div>
  </div>
  <div class="row warpjs-content">
    <div class="col-xs-12">
      {{#each users as |user|}}
        <div class="row warpjs-user warpjs-table">
          <div class="warpjs-community-image warpjs-cell">
            <div class="warpjs-image-container-parent">
              <div class="warpjs-image-container-child">
                <img src="{{user._links.image.href}}" />
              </div>
            </div>
          </div>

          <div class="warpjs-user-info warpjs-cell">
            <a class="warpjs-user-name" href="{{user._links.self.href}}">{{user.name}}</a>
            {{#if user._embedded.companies.length}}
              <div class="warpjs-user-companies">
                {{#each user._embedded.companies as |company|}}
                  <a href="{{company._links.self.href}}" class="warpjs-user-company">{{company.label}}</a>{{#unless @last}},{{/unless}}
                {{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{> ../../../inline-edit/context-button page=page elementId=title elementType='Relationship'}}
</div>
