{{#each entities as |entity|}}
    <li class="list-group-item warpjs-selection-entity clickable warpjs-filter-box-item"
        data-warpjs-id="{{entity.id}}"
        data-warpjs-type="{{entity.type}}"
        data-warpjs-name="{{entity.name}}"
        data-warpjs-display-name="{{entity.name}}"
        >
      <span class="glyphicon glyphicon-plus pull-right"></span>
      {{entity.name}}
    </li>
{{else}}
    <li class="list-group-item alert alert-warning"
        >No entities available</li>
{{/each}}
