<li {{#unless idx}}class="active"{{/unless}}
  data-warpjs-type="{{type}}"
  data-warpjs-id="{{id}}"
  data-warpjs-display-name="{{displayName}}"
  data-warpjs-relationship-description="{{relnDesc}}"
  data-warpjs-doc-level="{{docLevel}}"
  ><a href="#">{{displayName}}</a></li>
