{{#partial "content"}}
<div class="container" role="main">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          Available domains
        </div>

        <div class="panel-body">
          {{#each _embedded.domains}}
              <div class="row">
                <div class="col-xs-12">
                  <a href="{{_links.self.href}}"><span class="glyphicon glyphicon-info-sign"></span></a>
                  <a href="{{_links.domainTypes.href}}"
                     title="{{_links.domainTypes.title}}"
                     ><span class="glyphicon glyphicon-list"></span></a>
                  {{#if _links.studio.href}}
                    <a href="{{_links.studio.href}}"
                       title="{{_links.studio.title}}"
                       ><span class="glyphicon glyphicon-pencil"></span></a>
                  {{/if}}

                  &nbsp;&nbsp;&nbsp;

                  <a href="{{_links.label.href}}" title="{{_links.label.title}}">{{name}}</a>
                  {{#if isDefaultDomain}}<span title="Default Domain">*</span>{{/if}}
                </div>

              </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/partial}}

{{> page-content}}
