{{#partial "content"}}
  <div class="container" role="main">
    <div class="row">
      <div class="col-xs-12">
          Available entities for
          <a href="{{_links.domain.href}}">{{_links.domain.title}}</a>
          /
          {{_links.type.title}}
          :
          <span class="glyphicon glyphicon-plus-sign"
            data-action="create-new-entity"
            data-url="{{_links.self.href}}"
            ></span>
        <ol class="entities">
{{#each _embedded.entities}}
          <li>
              <a href="{{_links.self.href}}">{{name}}</a>
              {{#if isRootInstance}}[isRootInstance]{{/if}}
          </li>
{{/each}}
        </ol>
      </div>
    </div>
  </div>
{{/partial}}

{{> ../templates/page}}

