<div class="row">
    <div class="col-md-2 col-lg-2">
        {{#if _embedded.Images}}
            {{#each _embedded.Images}}
                <figure class="pull-left">
                    <img class="preview-img-responsive"
                        src="{{ImageURL}}"
                        alt="{{AltText}}"
                        {{#if _embedded.Maps}}
                        usemap="#preview-map-{{@index}}"
                        {{/if}}
                        />
                    {{#if _embedded.Maps}}
                        <map name="preview-map-{{@index}}">
                            {{#each _embedded.Maps}}
                                <area shape="{{Shape}}" coords="{{Coords}}"
                                href="{{_links.target.href}}" alt="{{Alt}}" title="{{Title}}"
                                />
                            {{/each}}
                        </map>
                    {{/if}}
                </figure>
            {{/each}}
        {{/if}}
    </div>
    <div class="col-md-10 col-lg-10">
        <div class="preview-heading"><a href="{{self.href}}">{{Heading}}</a></div>
        <div class="preview-content">
            <span>{{#if containsHTML}}{{{Content}}}{{else}}{{Content}}{{/if}}</span>
        </div>
    </div>
</div>
