<div class="row">
    <div class="col-md-2 col-lg-2">
        {{#if _embedded.Images}}
            {{#each _embedded.Images}}
                <figure class="pull-left">
                    <img class="preview-img-responsive"
                        src="{{ImageURL}}"
                        alt="{{AltText}}"
                        />
                </figure>
            {{/each}}
        {{/if}}
    </div>
    <div class="col-md-10 col-lg-10">
        <div class="preview-heading"><a href="{{self.href}}">{{Heading}}</a></div>
        {{#if Content}}
             <div class="preview-content">
                <span>{{{Content}}}</span>
            </div>
        {{/if}}
    </div>
</div>
